{% extends 'general/base.html' %}

{% comment %}
PREP

В представление DeleteView добавьте:

template_name = "general/pages/confirm_delete.html"

Представление обязательно должно наследовать от GetVerboseNameMixin.

{%endcomment%}

{% load bootstrap_icons %}

{% block h %}
    Удалить {{ view.get_verbose_name|lower }}: {{ object }}
{% endblock %}

{% block title %}
    Удалить {{ view.get_verbose_name|lower }}: {{ object }}
{% endblock %}

{% block content %}


<div class=container>
    <div class="row">
        <div class="col-12 col-md-1">
            {% bs_icon 'trash3-fill' color='#dc3545' size='2em' %}
        </div>
        <div class="col-12 col-md-11">
            <form method="post">
                {% csrf_token %}
                <p>Удалить {{ view.get_verbose_name }}: {{ object }}"?</p>
                {{ form }}
                <input class="btn btn-primary" type="submit" value="Да">
                <input class="btn btn-danger" type=button value="Нет" onClick="javascript:history.go(-1);">
            </form>
        </div>
    </div>
</div>
{% endblock %}
