{% extends 'general/base.html' %}

{% comment %}

Отобразить все поля объекта.

В представление DetailView добавьте:

template_name = "general/pages/detail.html"

Представление обязательно должно наследовать от GetVerboseNameMixin.

{% endcomment %}


{% load static %}
{% load model_filters %}
{% load bootstrap_icons %}


{% block title %}
    {{ view.get_verbose_name }}: {{ object }}
{% endblock %}

{% block h %}
    {{ view.get_verbose_name }}: {{ object }}
{% endblock %}


{% block content %}

<div class="container mb-3">
    <a href="{{ object.get_update_url }}" class="btn attention mt-2 mb-2">{% bs_icon 'pencil-fill' %}</a>
    <a href="{{ object.get_delete_url }}" class="btn attention del-button mt-2 mb-2">{% bs_icon 'trash' %}</a>
</div>

<div class="container">

    <div class="row g-3">
        {% for field in object|get_fields %}
        <div class="col-12">
            <div class="card h-100">
                <div class="card-header bg-light">
                    <strong>{{ field.label }}</strong>
                </div>
                <div class="card-body">
                    {% if field.is_image and field.value %}
                        <img src="{{ field.value.url }}" class="img-fluid rounded"
                             alt="{{ field.label }}">
                    {% else %}
                        {{ field.value|default:"—"|linebreaks }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
