/* PREP { */
:root {
  --main-background-color: {{ cookiecutter.main_background_color }}; /* Основной фон */
  --aux-background-color:  {{ cookiecutter.aux_background_color }}; /* Дополнительный фон */
  --attention-color: {{ cookiecutter.attention_color }}; /* Акцентирование внимания */
}

.message-box {
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.message-error {
    background-color: #f8d7da;
    border-color: red;
    color: #842029;
}


.message-success {
    background-color: #d1e7dd;
    border-color: green;
    color: #0f5132;
}

.text-content-error { font-weight: 500; }
.text-content-success { font-weight: 500; }

body.font-customized {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--main-background-color);
}

.aux-background-color {
    background-color: var(--aux-background-color);
}

.attention {
   background-color: var(--attention-color);
}

.btn.attention {
   background-color: var(--attention-color);
}

.content {
    min-height: 400px;
}

.del-button {
    bottom: 20px;
    right: 20px;
}

.article-img {
    width: 100px;
}

.btn.attention-border {
    border-style: solid;
    border-color: var(--attention-color);
}

.attention-border {
    border-style: solid;
    border-color: var(--attention-color);
}

/* } PREP */

/* STUD! { */
/* } STUD! */