/* PREP { */
.message-box {
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.message-error {
    background-color: #f8d7da;
    border-color: red;
    color: #842029;
}


.message-success {
    background-color: #d1e7dd;
    border-color: green;
    color: #0f5132;
}

.text-content-error { font-weight: 500; }
.text-content-success { font-weight: 500; }

/* } PREP */