{% load static %} {% comment %} PREP { {% endcomment %}
{% load bootstrap_icons %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'general/img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/animate.min.css' %}">
    <title>{{ PROJECT_NAME }}: {% block title %} {% endblock %}</title>
</head>
<body class="font-customized">

<header>
    <div class="container p-3 aux-background-color">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <img src="{% static 'general/img/icon.png' %}" class="animate__animated animate__swing" alt="logo" width="50px"/>
                <span class="ms-2 fs-1 fw-bold">{{ PROJECT_NAME }}</span>
            </div>
            <div class="text-end">
                <div>
                    <p>{{ user }}</p>
                    <p>{{ user.role }}</p>
                </div>
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Выход"/>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h1>{% block h %} {% endblock %}</h1>
    {% include "messages/tagged_messages.html" %}
</div>

<div class="container mb-5">
    <section id="content" class="content">
        {% block content %}{% endblock %}
    </section>
</div>


<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container footer pt-5 aux-background-color">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="mb-2" src="{% static 'general/img/icon.png' %}" alt="Logo" width="24">
                <p class="d-block mb-3 text-body-secondary">© {% now "Y" %} {{ PROJECT_NAME }}</p></div>
            <div class="col-12 col-md-6">
                <h5>{{ PROJECT_NAME }}</h5>
                <p>{{ PROJECT_DESCRIPTION }}</p>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'general/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'general/js/js.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>

{% comment %} } PREP {% endcomment %}
