{% load static %} 

{% comment %} 
Связка: 
general/embedded/search_sort_filter.html
general/forms.py - SearchSortFilterForm
general/js/search-sort-filter.js

general/base.html - возможно, потребуется раскомментировать загрузку 
search-sort-filter.js.

{% endcomment %}

{% load bootstrap_icons %}

{% comment %}
PREP
В заданиях может встретиться требование задать фильтрацию,
сортировку или поиск.

Если задание потребует автоматической отправки формы (без нажатия кнопки):
1. Удалить кнопку из этого шаблона
2. В базовом шаблоне раскомментировать
3. Проверить search-sort-filter.js - посмотреть, какие в форме отрендерились id,
при необходимости прописать обработчики событий.


Применение в шаблоне:
{% include 'general/embedded/search_sort_filter.html' %}

{% endcomment %}


{% if user.is_admin or user.is_manager %}
<style>
    .filter-form {
        min-width: 300px;
        max-width: 400px;
    }

    .filter-form select,
    .filter-form input {
        width: 100%;
        padding: 5px 8px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .filter-form label {
        display: block;
        font-weight: normal;
        margin-bottom: 0;
    }
</style>

<div class="container my-4">
    <div class="d-flex">
        <div class="filter-form">
            <form id="search-sort-filter">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>            
        </div>
        <div class="ms-2">
            <a href="{% url 'home' %}" class="text-danger">{% bs_icon 'x-circle' %}</a>
        </div>
    </div>
</div>
{% endif %}
